@import '../template/variables.scss';
@import '../template/mixins.scss';

nav {
    width: fit-content;
    min-width: 700px;
    margin: auto;
    margin-top: 15px;
    height: 70px;
    @include flex(row, space-around);
    align-items: center;
    border-bottom: 3px solid $orange-color;
    border-radius: $border-radius-medium;
    -webkit-box-shadow: 0 0 15px 0 $orange-color;
    box-shadow: 0 0 15px 0 $orange-color;

    a {
        @include flex(row, center);
        padding: 0.5rem 1rem;
        border-radius:$border-radius-medium;
        transition: .2s;
        color: white;
        font-size: $font-size-body;
        font-family: $font-family-comic;
        text-decoration: none;
        align-items: center;

        mat-icon {
            margin-right: 5px;
        }

        &:hover{
            transform: scale(1.2);
            font-weight: 600;
        }
    }
}