
<div id="container_body">
    <div id="container_header">
        <nav>
            <a>Tell Me More</a>
            <a>About</a>
        </nav>
        <div id="div_text">
            <span class="span_row">
                <p><span>NO</span> PLAN </p><mat-icon>fitness_center</mat-icon>
            </span>
            <span class="span_row">
                <p><span>NO</span> GAIN</p><mat-icon id="icon_flame">whatshot_icon</mat-icon>
            </span>
            <small>Create your own workout plan and compare it with others.<br>Let's progress together !!</small>
        </div>

        <div id="container_login_register">
            <button id="btn_register">Register</button>
            <button id="btn_login">Login</button>

        </div>
    </div>
</div>

