@import './variables.scss';

@mixin flex($direction, $position) {
    display: flex;
    // display: inline-flex;
    // flex-wrap: wrap;

    flex-direction: $direction;
    justify-content: $position;
}

@mixin responsive-screen($size) {
    @if $size == small {
        @media only screen and (max-width: 1000px) {
            @content;
        };
    }
    @else if $size == medium {
        @media only screen and (max-width: 1292px) {
            @content;
        };
    }
    @else if $size == large {
        @media only screen and (min-width: 1400px) {
            @content;
        };
    }
}

@mixin responsive-screen($size) {
    @if $size == small {
        @media only screen and (max-width: 1100px) {
            @content;
        };
    }
    @else if $size == medium {
        @media only screen and (max-width: 1292px) {
            @content;
        };
    }
    @else if $size == large {
        @media only screen and (min-width: 1400px) {
            @content;
        };
    }
}