$background-color: #252525;
$orange-color: orangered;
$green-color: greenyellow;

$font-color: white;
$font-size-header: 1.5rem;
$font-size-subheader: 1.25rem;
$font-size-body: 1rem;
$font-family-comic: "Comic Sans MS", "Comic Sans", cursive;

$box-shadow-medium: 5px 5px 15px 5px #000000;

$border-radius-medium: 10px;

$padding-input: .5rem;