@import './main.scss';

#container_body {
    overflow-x: hidden;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: linear-gradient(rgba(0, 0, 0, 0.527),rgba(0, 0, 0, 0.5)), 
    url('https://images.pexels.com/photos/791763/pexels-photo-791763.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
}


#container_header {
    @include flex(column, space-around);
    align-items: center;
    width: 100%;
    height: 100vh;
    padding: 0px 5%;

    @include responsive-screen(small) {
        width: 100%;
    }

    nav {
        width: fit-content;
        min-width: 700px;
        height: 70px;
        @include flex(row, space-around);
        align-items: center;
        font-size: $font-size-body;
        border-top: 3px solid $orange-color;
        border-bottom: 3px solid $orange-color;

        a {
            padding: 0.5rem 1rem;
            border-radius: 10px;
            transition: .2s;
            cursor: pointer;

            &:hover {
                font-size: $font-size-subheader;
                font-weight: 500;
            }
        }
    }

    #div_text {
        height: 400px;
        @include flex(column, space-around);
        font-family: $font-family-comic;


        .span_row {
            @include flex(row, flex-start);
    
            mat-icon {
                transform: scale(4);
                margin-top: -40px;
            }
    
            #icon_flame {
                color: $orange-color;
            }
    
            span {
                color: $background-color;
                -webkit-text-stroke: 2px $orange-color;
            }
        }
    
        p {
            font-size: 6rem;
            margin: 0px;
            font-weight: bold;
        }
    
        small {
            font-size: $font-size-subheader;
            background-color: $background-color;
            padding: 1rem;
            border-radius: 10px;
            text-align: center;
        }
    }
    
    #container_login_register {

        button {
            width: 200px;
            margin: 0px 15px;
            font-weight: bold;
            border: none;
            border-radius: 10px;
            font-size: $font-size-subheader;
            padding: $font-size-body;
            cursor: pointer;
            box-shadow: $box-shadow-medium;
            transition: .2s;
            position: relative;
            color: $font-color;


            &::before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                z-index: 1;
                background-color: rgba(255,255,255,0.1);
                transition: all 0.3s;
            }

            &::after {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                z-index: 1;
                opacity: 0;
                transition: all 0.3s;
                border: 3px solid $font-color;
                border-radius: 10px;
                transform: scale(1.2,1.2);
            }

            &:hover {
                &::before {
                    opacity: 0 ;
                    transform: scale(0.5,0.5);
                }

                &::after {
                    opacity: 1;
                    transform: scale(1,1);
                }
            }
        }

        #btn_register { background-color: $orange-color; }

        #btn_login { background-color: transparent; }
    } 

}